<span class="content_header">About</span>
<p>
Fat Finger TODO List is a simple application designed
    to help manage your daily todo list. It was designed
    with touch screens in mind such as the
    <a href="http://www.gigabyte.com.tw/Products/Notebook/Products_Spec.aspx?ProductID=2835" target="_blank">Gigabyte M912</a>.
</p>