<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Fat Finger TODO List</title>
<%= stylesheet_link_tag 'style.css' %>
<%= javascript_include_tag :defaults %>
</head>

<body>
<div id="container">
  <div id="header">
    <span class="hdr_main_text">Fat Finger TODO List</span>
  </div>
  <div id="navbuttons">
    <ul>
      <li class="first"><a href="/">Home</a></li>
        <li><a href="/mylist">My List</a></li>
        <li class="last"><a href="/about">About</a></li>
    </ul>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div align="center">
    <span id="footer"><%= link_to '&copy; 2009 Martin Tech Labs, LLC', "http://www.martintechlabs.com/" %></span>
  </div>
</div>
</body>
</html>
